.app {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container{
  height: 100vh;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.nonprofit-list,
.foundation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.nonprofit-item,
.foundation-item {
  flex-basis: calc(33.33% - 10px);
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}



.form {
  display: flex;
  flex-direction: column;
}

.form > label {
  margin: 10px;
  gap: 5px
}

.width-100 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.flex-1{
  flex: 1;
}

.flex-2{
  flex:2
}

.flex-column{
  display: flex;
  flex-direction: column;
} 

.align-center{
  align-items: center;
}

.font-size-medium{
  font-size: 10vh;
}

.font-size-small{
  font-size: 6vh;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.justify-center{
  justify-content: center;
}

.info-card{
}

.font-weight-600{
  font-weight: 600;
}

.font-weight-800{
  font-weight: 800;
}